<section class="section-about">
  <div class="container about-wrapper">
    <h3 class="about-subtitle">How it works</h3>
    <div class="apply-wrapper">
      <div class="apply-wrapper-text">
        <h2 class="about-title">Start find a job you love with us easily</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <div class="faq-question">
              <div class="question-title-wrapper">
                <div class="question-number-wrapper">
                  <span>1</span>
                </div>
                <h4 class="faq-list-title">Complete Profile</h4>
              </div>
              <svg class="icon-arrow" width="10" height="17">
                <use href="../img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <div class="faq-answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation.
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-question">
              <div class="question-title-wrapper">
                <div class="question-number-wrapper">
                  <span>2</span>
                </div>
                <h4 class="faq-list-title">Search Vacancies</h4>
              </div>
              <svg class="icon-arrow" width="10" height="17">
                <use href="../img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <div class="faq-answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation.
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-question">
              <div class="question-title-wrapper">
                <div class="question-number-wrapper">
                  <span>3</span>
                </div>
                <h4 class="faq-list-title">Apply Job</h4>
              </div>
              <svg class="icon-arrow" width="10" height="17">
                <use href="../img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <div class="faq-answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation.
            </div>
          </li>
        </ul>
      </div>
      <div class="apply-image-wrapper">
        <svg class="player-icon" width="77" height="77">
          <use href="../img/sprite.svg#player-big"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
