<section class="section__advantages">
  <div class="container advantages-container">
    <div class="advantages-wrapper">
      <h2 class="advantages__title">Why Choose Us</h2>
      <p class="advantages__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <ul class="advantages__list">
      <li class="advantages__list-item">
        <div class="icon-wrapper">
          <svg class="icon-advantages" width="34" height="34">
            <use href="../assets/sprite.svg#advantages"></use>
          </svg>
        </div>
        <h3 class="advantages__list-title">Trusted</h3>
        <p class="advantages__list-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </li>
      <li class="advantages__list-item">
        <div class="icon-wrapper">
          <svg class="icon-advantages" width="34" height="34">
            <use href="../assets/sprite.svg#advantages"></use>
          </svg>
        </div>
        <h3 class="advantages__list-title">Easy to Use</h3>
        <p class="advantages__list-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </li>
      <li class="advantages__list-item">
        <div class="icon-wrapper">
          <svg class="icon-advantages" width="34" height="34">
            <use href="../assets/sprite.svg#advantages"></use>
          </svg>
        </div>
        <h3 class="advantages__list-title">Faster</h3>
        <p class="advantages__list-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </li>
    </ul>
  </div>
</section>
