<section class="section-customer">
  <div class="container">
    <ul class="customer-list">
      <li>
        <svg width="57.4" height="66.8">
          <use href="../img/sprite.svg#design-studio"></use>
        </svg>
      </li>
      <li>
        <svg width="126" height="107">
          <use href="../img/sprite.svg#design-branding"></use>
        </svg>
      </li>
      <li>
        <svg width="153" height="70">
          <use href="../img/sprite.svg#greenery"></use>
        </svg>
      </li>
      <li>
        <svg width="120" height="112">
          <use href="../img/sprite.svg#natural"></use>
        </svg>
      </li>
      <li>
        <svg width="111" height="72">
          <use href="../img/sprite.svg#nature"></use>
        </svg>
      </li>
      <li>
        <svg width="106" height="105">
          <use href="../img/sprite.svg#your-company"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
