<footer class="footer">
  <div class="container footer-wrapper">
    <ul class="footer__list">
      <li class="footer__list-item">
        <h2 class="footer__list-title">Olearn</h2>
        <ul class="footer__sublist">
          <li class="footer__sublist-item">About</li>
          <li class="footer__sublist-item">What we offer</li>
          <li class="footer__sublist-item">Leadership</li>
          <li class="footer__sublist-item">Careers</li>
        </ul>
      </li>
      <li class="footer__list-item">
        <h2 class="footer__list-title">Courses</h2>
        <ul class="footer__sublist">
          <li class="footer__sublist-item">Classroom Courses</li>
          <li class="footer__sublist-item">Virtual Courses</li>
          <li class="footer__sublist-item">E-Learning Courses</li>
          <li class="footer__sublist-item">Off Line Courses</li>
        </ul>
      </li>
      <li class="footer__list-item">
        <h2 class="footer__list-title">Community</h2>
        <ul class="footer__sublist">
          <li class="footer__sublist-item">Learner</li>
          <li class="footer__sublist-item">Partners</li>
          <li class="footer__sublist-item">Developers</li>
          <li class="footer__sublist-item">Teaching Centre</li>
        </ul>
      </li>
      <li class="footer__list-item">
        <h2 class="footer__list-title">Quick Links</h2>
        <ul class="footer__sublist">
          <li class="footer__sublist-item">Home</li>
          <li class="footer__sublist-item">Professional Edu</li>
          <li class="footer__sublist-item">Courses</li>
          <li class="footer__sublist-item">Admissions</li>
        </ul>
      </li>
      <li class="footer__list-item">
        <h2 class="footer__list-title">More</h2>
        <ul class="footer__sublist">
          <li class="footer__sublist-item">Press</li>
          <li class="footer__sublist-item">Inventors</li>
          <li class="footer__sublist-item">Helps</li>
          <li class="footer__sublist-item">Terms</li>
        </ul>
      </li>
    </ul>
    <div class="footer__nav-wrapper">
      <div class="logo-wrapper">
        <svg class="logo-img" width="26" height="26">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
        <span class="footer__logo-text">ZIRO</span>
      </div>
      <nav class="conteiner-nav">
        <ul class="list-nav">
          <li class="list-nav-item">
            <a class="list-nav-link footer__nav-link" href="/src/index.html"
              >Terms of Use</a
            >
          </li>
          <li class="list-nav-item">
            <a class="list-nav-link footer__nav-link" href="/src/index.html"
              >Protfolio</a
            >
          </li>
          <li class="list-nav-item">
            <a class="list-nav-link footer__nav-link" href="/src/index.html"
              >Privacy policy</a
            >
          </li>
          <li class="list-nav-item">
            <a class="list-nav-link footer__nav-link" href="/src/index.html"
              >Contact us</a
            >
          </li>
          <li class="list-nav-item">
            <a class="list-nav-link footer__nav-link" href="/src/index.html"
              >FAQ</a
            >
          </li>
        </ul>
      </nav>
      <div class="social-media__wrapper">
        <svg width="142" height="29">
          <use href="../img/sprite.svg#social-media"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
