<header>
  <div class="container header-wrapper">
    <div class="logo-wrapper">
      <svg class="logo-img" width="48" height="46">
        <use href="/src/img/sprite.svg#logo"></use>
      </svg>
      <span class="logo-text">ZIRO</span>
    </div>
    <nav class="conteiner-nav">
      <ul class="list-nav">
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Home</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Pricing</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Blog</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Become a member</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">About us</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <label>
        <input class="search-input" type="text" placeholder="Search here..." />
      </label>
      <button class="search-btn" type="submit">
        <svg class="search-icon" width="14" height="14">
          <use href="/src/img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <ul class="autorization-wrapper">
      <li class="autorization-item">
        <a class="autorization-link link-active" href="/src/index.html"
          >Login</a
        >
      </li>
      <li class="autorization-item">/</li>
      <li class="autorization-item">
        <a class="autorization-link" href="/src/index.html">Sign Up</a>
      </li>
    </ul>
  </div>
</header>
