<header>
  <div class="container header-wrapper">
    <div class="logo-wrapper">
      <svg class="logo-img" width="48" height="46">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
      <span class="logo-text">ZIRO</span>
    </div>
    <button
      type="button"
      class="burger-button"
      aria-label="menu"
      data-menu-open
    >
      <svg width="36" height="36">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="conteiner-nav">
      <ul class="list-nav">
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Home</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Pricing</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Blog</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">Become a member</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="/src/index.html">About us</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <label>
        <input class="search-input" type="text" placeholder="Search here..." />
      </label>
      <button class="search-btn" type="submit">
        <svg class="search-icon" width="14" height="14">
          <use href="./img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <ul class="autorization-wrapper">
      <li class="autorization-item">
        <a class="autorization-link" href="/src/index.html">Login</a>
      </li>
      <li class="autorization-item">/</li>
      <li class="autorization-item">
        <a class="autorization-link" href="/src/index.html">Sign Up</a>
      </li>
    </ul>
    <div class="menu-backdrop" id="menu-form" data-menu>
      <div class="menu-container">
        <div class="menu-wrapper">
          <button
            class="menu-btn-close"
            type="button"
            id="mobile-close-btn"
            data-menu-close
          >
            <svg
              class="menu-btn-close-mobile"
              width="36"
              height="36"
              id="icon-close"
            >
              <use href="../img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <ul class="menu-nav">
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Home</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Pricing</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Blog</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Become a member</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">About us</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Login</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="/src/index.html">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
