<section class="hero-section">
  <div class="container hero-wrapper">
    <div class="hero-text-wrapper">
      <h1 class="hero-title">
        Find out talented <span class="hero-span">freelancer</span> with better
        review faster.
      </h1>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
      <div class="hero-btn-wrapper">
        <button class="btn-discover">Discover Now</button>
        <button class="btn-watch">
          <svg class="icon-player-small" width="44" height="44">
            <use href="../assets/sprite.svg#player"></use>
          </svg>
          <p>Watch Demo</p>
        </button>
      </div>
    </div>
    <div><img src="../assets/hero.png" alt="Freelancer with laptop" /></div>
  </div>
</section>
