<section class="section__advantages">
  <div class="container advantages-container">
    <div class="advantages-wrapper">
      <h2 class="advantages__title">Featured Jobs</h2>
      <p class="advantages__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div class="scroll-wrapper">
      <div class="scroll__btn-wrapper">
        <button class="scroll__btn">
          <svg class="scroll__btn-icon" width="40" height="30">
            <use href="../img/sprite.svg#slider-left"></use>
          </svg>
        </button>
        <button class="scroll__btn">
          <svg class="scroll__btn-icon" width="40" height="30">
            <use href="../img/sprite.svg#slider-right"></use>
          </svg>
        </button>
      </div>
      <ul class="jobs__list">
        <li class="jobs__list-item">
          <button class="btn-more">
            <svg width="22" height="5">
              <use href="../img/sprite.svg#more"></use>
            </svg>
          </button>
          <div class="freelancer-avatar"></div>
          <div class="freelancer__info">
            <p class="freelancer__info-text">Database Programmer</p>
            <h2 class="freelancer__info-title">Marraz Team</h2>
          </div>
          <ul class="price__list">
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#budget"></use>
              </svg>
              <p class="price__list-text">
                $14,000 - $25,000 <span class="price__list-span">/monthly</span>
              </p>
            </li>
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#map"></use>
              </svg>
              <p class="price__list-text">
                London,Enlend <span class="price__list-span">View map</span>
              </p>
            </li>
          </ul>
          <div class="jobs__btn-wrapper">
            <button class="btn-heart">
              <svg class="icon-heart" width="49" height="49">
                <use href="../img/sprite.svg#heart-empty"></use>
              </svg>
            </button>
            <button class="btn-apply">Apply Now</button>
          </div>
        </li>
        <li class="jobs__list-item">
          <button class="btn-more">
            <svg width="22" height="5">
              <use href="../img/sprite.svg#more"></use>
            </svg>
          </button>
          <div class="freelancer-avatar"></div>
          <div class="freelancer__info">
            <p class="freelancer__info-text">Database Programmer</p>
            <h2 class="freelancer__info-title">Marraz Team</h2>
          </div>
          <ul class="price__list">
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#budget"></use>
              </svg>
              <p class="price__list-text">
                $14,000 - $25,000 <span class="price__list-span">/monthly</span>
              </p>
            </li>
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#map"></use>
              </svg>
              <p class="price__list-text">
                London,Enlend <span class="price__list-span">View map</span>
              </p>
            </li>
          </ul>
          <div class="jobs__btn-wrapper">
            <button class="btn-heart">
              <svg class="icon-heart" width="49" height="49">
                <use href="../img/sprite.svg#heart-filled"></use>
              </svg>
            </button>
            <button class="btn-apply">Apply Now</button>
          </div>
        </li>
        <li class="jobs__list-item">
          <button class="btn-more">
            <svg width="22" height="5">
              <use href="../img/sprite.svg#more"></use>
            </svg>
          </button>
          <div class="freelancer-avatar"></div>
          <div class="freelancer__info">
            <p class="freelancer__info-text">Database Programmer</p>
            <h2 class="freelancer__info-title">Marraz Team</h2>
          </div>
          <ul class="price__list">
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#budget"></use>
              </svg>
              <p class="price__list-text">
                $14,000 - $25,000 <span class="price__list-span">/monthly</span>
              </p>
            </li>
            <li class="price__list-item">
              <svg width="15" height="18">
                <use href="../img/sprite.svg#map"></use>
              </svg>
              <p class="price__list-text">
                London,Enlend <span class="price__list-span">View map</span>
              </p>
            </li>
          </ul>
          <div class="jobs__btn-wrapper">
            <button class="btn-heart">
              <svg class="icon-heart" width="49" height="49">
                <use href="../img/sprite.svg#heart-filled"></use>
              </svg>
            </button>
            <button class="btn-apply">Apply Now</button>
          </div>
        </li>
      </ul>
    </div>
    <button class="btn-view-more">View More</button>
  </div>
</section>
