<section class="section-metrics">
  <div class="container advantages-container">
    <ul class="metrics__list">
      <li class="metrics__list-item">
        <span class="metrics__list-span">36,789</span>
        <p class="metrics__list-text">Talented Freelancer</p>
      </li>
      <li class="metrics__list-item">
        <span class="metrics__list-span">45,973</span>
        <p class="metrics__list-text">Visitors</p>
      </li>
      <li class="metrics__list-item">
        <span class="metrics__list-span">56,461</span>
        <p class="metrics__list-text">Contract Made</p>
      </li>
      <li class="metrics__list-item">
        <span class="metrics__list-span">852k</span>
        <p class="metrics__list-text">Companies</p>
      </li>
    </ul>
  </div>
</section>
