<section class="section__advantages section__price">
  <div class="container advantages-container">
    <div class="advantages-wrapper">
      <h2 class="advantages__title">Pricing Plan</h2>
      <p class="advantages__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <ul class="pricing__list">
      <li class="pricing__list-item">
        <h3 class="pricing__list-title">FREE</h3>
        <span class="pricing__list-span">$0</span>
        <p class="pricing__list-text">Per month</p>
        <ul class="plan__list">
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
        </ul>
        <button class="btn-purchase">Purchase Now</button>
      </li>
      <li class="pricing__list-item">
        <h3 class="pricing__list-title">PREMIUM</h3>
        <span class="pricing__list-span">$175</span>
        <p class="pricing__list-text">Per month</p>
        <ul class="plan__list">
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use ></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
        </ul>
        <button class="btn-purchase">Purchase Now</button>
      </li>
      <li class="pricing__list-item">
        <h3 class="pricing__list-title">PLATNIUM</h3>
        <span class="pricing__list-span">$500</span>
        <p class="pricing__list-text">Per month</p>
        <ul class="plan__list">
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
            <li class="plan__list-item"><svg width="16" height="16"><use href="../assets/sprite.svg#marker"></use></svg><p>Lorem ipsum dolor sit amet.</p></li>
        </ul>
        <button class="btn-purchase">Purchase Now</button>
      </li>
  </div>
</section>
