<section class="section__advantages">
  <div class="container advantages-container">
    <div class="advantages-wrapper">
      <h2 class="advantages__title">What Our Customer Says</h2>
      <p class="advantages__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div class="reviews-wrapper">
        <div class="rewiews-img-wrapper">
      <div class="rewiews-img">
        <svg width="49" height="69" class="icon-reviews">
          <use href="../img/sprite.svg#reviews"></use>
        </svg>
        <div class="reviews-main-img"></div>
       
      </div>
      <svg width="46" height="46" class="icon-circles">
        <use href="../img/sprite.svg#circles"></use>
      </svg>
    </div>
      <div class="reviews__info">
        <div class="reviews__info-text">
          <h3 class="reviews__info-title">William Smith</h3>
          <p class="reviews__info-p">CEO OF THE LOVE STUDENTS</p>
        </div>
        <div class="reviews__stars-wrapper">
          <svg width="89" height="13" class="icon-stars"><use href="../img/sprite.svg#stars"></use></svg>
          <span class="icon-span">4.8</span>
        </div>
        <p class="reviews-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip.”</p>
        <div class="reviews__btn-wrapper">
          <div class="scroll__btn-wrapper">
            <button class="scroll__btn">
              <svg class="scroll__btn-icon" width="40" height="30">
                <use href="../img/sprite.svg#slider-left"></use>
              </svg>
            </button>
            <button class="scroll__btn">
              <svg class="scroll__btn-icon" width="40" height="30">
                <use href="../img/sprite.svg#slider-right"></use>
              </svg>
            </button>
          </div>
            <ul class="avatars__list">
              <li  class="avatars__list-item"></li>
              <li  class="avatars__list-item"></li>
              <li  class="avatars__list-item"></li>
              <li  class="avatars__list-item"><span>21k+</span></li>
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
