.scroll__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.scroll__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: #f9faff;
  border-radius: 7px;
}

.scroll__btn:hover,
.scroll__btn:focus {
  background-color: #ef6010;
}

.scroll__btn-icon {
  fill: #ef6010;
}

.scroll__btn:hover svg,
.scroll__btn:focus svg {
  fill: #ffffff;
}

.jobs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.jobs__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 380px;
  height: 371px;
  padding: 47px 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  transform: translate(0, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.jobs__list-item:hover {
  transform: translate(0, -10%);
  background: #f9faff;
}

.btn-more {
  position: absolute;
  top: 39.5px;
  right: 37.6px;
  background: transparent;
}

.freelancer-avatar {
  width: 75px;
  height: 75px;
  border: 3px solid #fea06b;
  border-radius: 50%;
  background: url(../img/male-student.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs__list-item:nth-child(2) .freelancer-avatar {
  background: url(../img/nathan.png);
}

.freelancer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.freelancer__info-text {
  color: #323232;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  letter-spacing: 0.4px;
  width: 220px;
  height: 23px;
}

.freelancer__info-title {
  color: #4238af;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.28px;
}

.price__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 230px;
  height: 60px;
}

.price__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 23px;
}

.price__list-text {
  color: #323232;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 312.5% */
  letter-spacing: 0.32px;
}

.price__list-span {
  color: #898989;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.28px;
}

.jobs__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.btn-heart {
  width: 49px;
  height: 49px;
  background: transparent;
}

.btn-apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 49px;
  border-radius: 47px;
  background: rgba(56, 49, 139, 0.33);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  color: #38318b;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 387.5% */
  letter-spacing: 0.32px;
}

.jobs__list-item:hover .btn-apply {
  background: #544cac;
  color: #fff;
}

.scroll-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
}

.btn-view-more {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 47px;
  background: #544cac;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 387.5% */
  letter-spacing: 0.32px;
}

.btn-view-more:hover,
.btn-view-more:focus {
  background: #ef6010;
}
